@font-face {
  font-family: Lobster;
  src: url('./assets/fonts/Lobster-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  input,
  textarea {
    @apply !py-2 max-md:py-3 !border-slate-200 placeholder:!text-gray-400 placeholder:font-normal placeholder:text-sm font-sans placeholder:font-sans;
  }
}

.ant-btn {
  @apply !px-3 !py-3 !h-fit font-sans !rounded-lg font-medium;
}

.ant-btn-primary {
  @apply !bg-[#006ded];
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ant-upload.ant-upload-select {
  @apply flex-shrink-0 !w-full !h-full !mx-auto max-md:!w-[200px] max-md:!h-[200px];
}

.octagonWrap {
  background: red;
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.octagon {
  position: relative;
  background: gray;
  object-fit: cover;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
